/* #region preamble */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: source-sans-pro, sans-serif;
        font-weight: 300;
        line-height: 1.5;
        font-size: 18px;
        -webkit-font-smoothing: antialiased;

        /* CSS VARS */
        --accentColor: #81cbe3; /* orig #56CCF2 */
        --errorColor: #ed4b4b;
        --bgColor: white;

        background-color: var(--bgColor);
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    #root,
    #__next {
        isolation: isolate;
    }
/* #endregion */

/* #region onLoad */
    #curtain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        pointer-events: none;
        opacity: 1;
        z-index: 10000;
        transition: opacity 1s ease-out .5s;
    }

    #curtain.after {
        transition: opacity .25s ease-out .5s;
    }

    #curtain.opened {
        opacity: 0;
    }
/* #endregion */

/* general styles */

h1 {
    font-weight: 600;
    color: rgb(56, 56, 56);
}

a {
    text-decoration: none;
    color: #3c2800;
    font-weight: 400;
}

#parkList li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a.mapIt {
    display: block;
    /* experiment
    position: relative; */
    margin: 1rem auto .5rem auto;
    text-align: center;
    width: fit-content;
    background:
        linear-gradient(217deg, rgba(0, 76, 255, 0.2), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(255, 230, 0, 0.2), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(0, 255, 0,.2), rgba(0,0,255,0) 70.71%);
    /* background:
        linear-gradient(217deg, rgba(255,0,0,.4), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(0,255,0,.4), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(0,0,255,.4), rgba(0,0,255,0) 70.71%); */
    color: #3c2800;
    font-weight: 600;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    border-right: 2px solid rgba(0, 0, 0, .3);
    /* border-top: 3px solid mediumseagreen;
    border-left: 2px solid mediumseagreen; */
    border-radius: 12px;
    padding: .5rem 1rem;
    text-decoration: none;
}
/* experiment
a.mapIt::before {
    content: "\2192";
    right: -2rem;
    top: 1rem;
}

a.mapIt::after {
    content: "\2192";

    right: -2rem;
    top: 1rem;
} */

/* #region MOBILE header */
    header {
        padding: 3rem;
        background-color: var(--accentColor);
        text-align: center;
        position:sticky;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 10000;
    }

    header h1 {
        font-size: 2.5rem;
    }

    h1 #placeName {
        color: black;
    }

    /* #region Searchbar */
        form {
            display: flex;
            justify-content: center;
            width: 100%;
            grid-gap: .5rem;
        }

        .search {
            margin: 1rem 0 0 0;
            background-color: var(--accentColor);
            font-family: source-sans-pro, sans-serif;
        }

        .search span {
            display: flex;
            align-items: center;
            justify-content: flex-end
        }

        .search .searchLabel {
            display: flex;
            justify-content: center;
        }

        .searchLabel span {
            font-size: 20px;
            text-shadow: 0px 0px 1px rgba(0, 0, 0, .9);
            width: 12rem;
        }

        .search #search {
            margin-left: 1rem;
            padding: .5rem 1rem;
            border-radius: .5rem;
            font-size: 20px;
            font-weight: 400;
            border: 2px solid rgb(107, 182, 207);
            
            width: 100%;
            max-width: 50vw;
            
        }

        #search::placeholder {
            color: gray;
            text-shadow: 0 2px 2px rgba(96, 96, 96, 0.2);
        }

        /* Search Button */
        #button {
            padding: 0 1.5rem;
            margin: 0 .25rem;
            border-radius: .75rem;
            border-right: none;
            border-top: none;
            border-bottom: 2px solid rgb(103, 172, 195);
            border-left: 2px solid rgb(103, 172, 195);
            font-size: 1.25rem;
            font-weight: 400;
            background:
                linear-gradient(217deg, rgba(12, 0, 181, 0.2), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(6, 177, 26, 0.2), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(129, 37, 172, 0.2), rgba(0,0,255,0) 70.71%);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
            transition: all .25s ease-in 0;
        }

        #button:hover {
            background:
                linear-gradient(217deg, rgba(12, 0, 181, 0.1), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(6, 177, 26, 0.1), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(129, 37, 172, 0.1), rgba(0,0,255,0) 70.71%);
            color: rgba(0, 0, 0, .7);

        }

        #button:active {
            background-color: rgba(216, 216, 216, .9);
            color: rgba(0, 0, 0, .7);
            box-shadow: 0px 2px 1px rgba(0, 0, 0, .2);
        }
    /* #endregion */

    /* #region Error Message */
        #err {
            color: var(--errorColor);
            font-size: 1.125rem;
            width: 100%;
            margin: .5rem 0 0 0;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            bottom: -2rem;
            font-weight: 400;
        }

        span.universal {
            font-size: 1rem;
            display: inline;
        }
    /* #endregion */

/* #endregion */

/* #region MOBILE container/main */
    main {
        margin: 4rem auto;
        padding: 0 4rem;
        width: auto;
        max-width: 1500px;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    }

    .content {
        width: 100%;
        height: 100%;
        min-height: 25vh;
    }

    #map {
        height: 50vh;
        border: 3rem solid;
    }

    /* #region MOBILE park list */

        /* gradient */
        div.wrap {
            position: relative;
        }
        div#gradient {
            background: linear-gradient(to bottom,
            transparent 90%,
            white 99%);
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
        }
        /* list container */
        .content .parkList {
            margin: 2rem 0;
            overflow-y: scroll;
            max-height: 60vh;
        }

        /* general list creator for counter */
        ol {
            list-style-type: none;
            counter-reset: parksCounter;
        }

        ol li {
            counter-increment: parksCounter;
        }

        ol li::before {
            content: counter(parksCounter);
            position: absolute;
            left: -5rem;
            font-style: italic;
            text-indent: 1rem;
            text-align: right;
            line-height: -2rem;
            font-size: 3rem;
            font-weight: 600;
            width: 3rem;
            height: 3rem;
            color: black;
            background: var(--accentColor);
            border-radius: 50%;
        }

        #parkList {
            padding: 0 2rem 2rem 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;
        }

        #parkList li {
            position: relative;
            margin: .25rem 1rem .25rem 4rem;
            background-color: #F5E7D7;
            padding: 1.5rem;
            border-radius: 12px;
        }
    /* #endregion */


    /* #region MOBILE footer */
        footer {
            margin: 0;
            padding: 2rem;
            background-color: var(--accentColor);
        }

        footer nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        footer nav ul.attribution {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        footer nav ul.appInfo {
            display: flex;
            justify-content: center;
        }

        footer nav ul.appInfo li {
            margin: 1rem;
        }
    /* #endregion */
/* #endregion */

/* #region MOBILE */
@media screen and (max-width: 700px) {
     main {
        margin: 7vmin;
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .search #search {
        margin-left: 2vmin;
        padding: 1vmin 2vmin;
    }

    .searchLabel span {
        width: 15rem;
    }

    #button {
        padding: 0 2vmin;
    }

    .content .parkList {
        margin: 5vmin 0; 
        max-height: 30vh;
    }

    #parkList {
        padding: 0 5vmin 5vmin 5vmin;
        display: block;
    }

    #parkList li {
        margin-top: 5vmin;
    }


}