@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;

    /* CSS VARS */
    --accentColor: #56CCF2;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

#curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    pointer-events: none;
    opacity: 1;
    z-index: 10000;
    transition: opacity 1s ease-out .5s;
}

#curtain.after {
    transition: opacity .25s ease-out .5s;
}

#curtain.opened {
    opacity: 0;
}

header {
    padding: 2rem;
    background-color: var(--accentColor);
    text-align: center;
}

h1 {
    border: 1px solid;
    font-weight: 600;
    color: rgb(56, 56, 56);
}

h1 #placeName {
    color: black;
}

section {
    border: 3px dashed;
}

form {
    border: 1px solid;
    display: flex;
    justify-content: center;
    width: 100%;
    grid-gap: .5rem;
}

.search {
    margin: 1rem 0 0 0;
    background-color: var(--accentColor);
    font-family: source-sans-pro, sans-serif;
}

.search span {
    display: flex;
    font-size: 20px;
    width: fit-content;
    align-items: center;
}

.search .searchLabel {
    display: flex;
}

.searchLabel span {
    width: 12rem;
}

.search #search {
    margin-left: 0;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid lightblue;
}

#search::placeholder {
    color: rgb(155, 155, 155);
}

#search {
    width: 100%;
    max-width: 50vw;
}

#button {
    padding: 0 1rem;
    border-radius: .5rem;
    border: 2px solid lightgray;
    font-size: 1.25rem;
}

#err {
    color: #ff4848;
    width: 100%;
    margin:.5rem 0 0 0;
    bottom: -2rem;
}

span.universal {
    font-size: 1rem;
    display: inline;
}

main {
    margin: 2rem;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
}

.content {
    width: 100%;
    height: 100%;
    min-height: 25vh;
}

#map {
    height: 50vh;
}

.content .parkList {
    margin: 2rem 0;
    overflow-y: scroll;
    max-height: 45vh;
}

/* ol {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  li {
    counter-increment: my-awesome-counter;
    margin: 0.25rem;
  }
  li::before {
    content: counter(my-awesome-counter);
    background: #662974;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    color: white;
    text-align: center;
    margin-right: 0.5rem;
  } */

ol {
    list-style-type: none;
    counter-reset: parksCounter;
}

ol li {
    counter-increment: parksCounter;
    margin: 0.25rem;
}

ol li::before {
    content: counter(parksCounter);
    position: absolute;
    left: -5rem;
    font-style: italic;
    text-indent: 1rem;
    text-align: right;
    line-height: -2rem;
    font-size: 3rem;
    font-weight: 600;
    width: 3rem;
    height: 3rem;
    color: black;
    background: var(--accentColor);
    border-radius: 50%;
}

#parkList {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

#parkList li {
    position: relative;
    margin: .25rem 1rem .25rem 4rem;
    background-color: #F5E7D7;
    padding: 1rem;
    border-radius: 12px;
}

/* #parklist li::before {
    content: counter(parksCounter);
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    width: 2rem;
    height: 2rem;
    color: black;
    background: #56CCF2;
    border-radius: 12px;
} */

footer {
    margin: 0;
    background-color: var(--accentColor);
}

footer nav ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
}

/* #region MOBILE */
@media screen and (max-width: 700px) {
    
    .search #search {
        margin-left: 1vmin;
        padding: 1vmin 2vmin;
    }

    #button {
        padding: 0 2vmin;
    }

    .searchLabel span {
        width: 15rem;
    }

}